.reading-report {
  padding-left: 10px;
  padding-right: 10px;

  .reading-report-content{
    position: relative;
  }

  .loading-splash{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 3em;
    z-index: 1;

    .loader-container {
      display: inline-block;
      font-size: .8em;
    }
  }

  .navigation{
    text-align: right;
  }

  h1 {
    margin-bottom: 20px;
  }

   h2 {
      margin: 0;
      text-align: center;
      font-size: 1.75em;
      font-weight: bold;
    }

  .global-stats-container{
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
  }

  .global-stats{
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    min-width: 300px;
    flex: 1 0 26%;
  }

  .stat-block {
    display: block;
    flex: 1 0 34%;
    min-width: 150px;
    margin: 5px;
    border: solid #e1e1e1 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px #e1e1e1;
    padding: 5px;

    &:last-child{
      flex: 2 0 51%;
    }

    .stats-full-value {
      text-align: center;
    }

    .stats-value {
      font-size: 1.5em;
      font-weight: bolder;
    }
  }

  .report-which-read {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    > div {
      margin: 5px;
      border: solid #e1e1e1 1px;
      border-radius: 5px;
      box-shadow: 0 0 5px #e1e1e1;
    }
  }

  .report-stats-lists {
    display: flex;
    flex-wrap: wrap;
  }

  .list-block {
    flex: 1;
    min-width: 300px;

    margin: 5px;
    border: solid #e1e1e1 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px #e1e1e1;
    padding: 5px;

    table{
      width: 100%;

      .list-item-index{
        padding-right: 5px;
      }
      .list-item-value{
        text-align: right;
      }

      td, th{
        padding-top: 5px;
        padding-bottom: 5px;
      }

      tr:nth-child(odd){
        background: #e1e1e1;
      }

      tr > :first-child{
        padding-left: 10px;
      }

      tr > :last-child{
        padding-right: 10px;
      }
    }
  }

  .weekly-heatmap{
    width: 100%;

    table{
      width: 100%;

      th,td{
        padding: 2px;
        text-align: center;
      }

      td{
        color: white;
      }
    }
  }

}
