@use 'page.scss';
@use 'pages';
@use 'components';



.reading-lists {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 5px;
}

.reading-lists > * {
}

.reading-list {
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  border-radius: 5px;
  min-width: 250px;
  overflow: clip;

  .reading-list-title {
    padding: 5px;
    text-align: center;
    font-weight: bolder;

    a {
      color: #363636;
    }
  }

  .reading-list-progress {
  }
}

.reading-list-end{
  @extend .reading-list;

  .reading-list-end-cover{
    background: #a17577;
    text-align: center;
    padding: 100px 5px;
    color: black;
    font-weight: bold;
  }

}

.cover {
  position: relative;
  width: 100%;

  a {
    position: relative;
    display: block;
  }

  img {
    width: 100%;
  }
}

.reading-list-position {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 5px;
  background: rgba(1, 1, 1, 0.5);
  font-size: larger;
  font-weight: bolder;
}

.cover-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 5px;
  background: rgba(1, 1, 1, 0.5);
}

.book-title {
  font-size: larger;
  font-weight: bolder;
}

.book-pub-date {
  display: inline-block;
  padding-left: 10px;
  padding-top: calc(0.375em - 1px);
  padding-bottom: calc(0.375em - 1px);
}

.mark-as-read {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.books-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.books-book {
  flex-grow: 1;
  flex-basis: 0;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  border-radius: 5px;
  box-sizing: border-box;
  // Ensure minimum width for mobile and maximum width to 6 items per row
  // (so that 120 results always have the right amount of items [2*2*3*5])
  min-width: max(calc(412px - 96px), calc((100% - 96px) / 6));
  width: 100%;
  margin: 5px;
  vertical-align: top;

}

.home-page .column {
  width: 100%;
}

.book-list {
  max-width: 100%;
  display: flex;
  overflow-x: auto;

  > * {
    margin: 6px;
    min-width: 250px;
  }
}

.recent-books-list {
  margin-bottom: 50px;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  margin: 10px 10px;
  padding-bottom: 40px;
  border: solid #e1e1e1 1px;
  border-radius: 5px;
  box-shadow: 0 0 5px #e1e1e1;
  overflow: hidden;
  width: 600px;
  position: relative;

  .link-content {
    display: flex;
    justify-content: space-between;


    .link-text {
      text-align: center;
      min-width: 80px;
    }

    .source, .target {
      flex: 1;
      max-width: 200px;
    }
  }

  .link-actions{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    border-top: solid #e1e1e1 1px;

    button {
      flex: 1;
      display: inline-block;

      background-color: transparent;
      border: 0;
      padding: 5px;
      padding-bottom: 10px;

      border-left: solid #e1e1e1 1px;

      &:hover:not(:disabled){
        cursor: pointer;
        background-color: #e1e1e1;
      }
    }
  }
}

.three-columns {
  display: flex;
  justify-content: space-between;
}

.book-link-form {
  .card {
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }

  h2 {
    text-align: center;
  }
}

.source-book, .target-book {
  width: 250px;
  flex: 1;
}

.book-link-form-link {
  flex: 1;
  text-align: center;
}

.book-link-create-button {
  margin: 10px;
}

.reading-list-editable-entries{
  min-width: 650px;
  max-width: 650px;
}

.navbar-menu-button{
  position: absolute;
  right: 0;
  padding: 0 10px;
  height: 3.25rem;
  line-height: 3.25rem;
  background: transparent;
  border: 0;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.list-block {
    flex: 1;
    min-width: 300px;

    margin: 5px;
    border: solid #e1e1e1 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px #e1e1e1;
    padding: 5px;

    table{
      width: 100%;

      .list-item-index{
        padding-right: 5px;
      }
      .list-item-value{
        text-align: right;
      }

      td, th{
        padding-top: 5px;
        padding-bottom: 5px;
      }

      tr:nth-child(odd){
        background: #e1e1e1;
      }

      tr > :first-child{
        padding-left: 10px;
      }

      tr > :last-child{
        padding-right: 10px;
      }
    }
  }
