asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2020.4.5.1
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
cryptography==38.0.4
Deprecated==1.2.13
Django==4.1.9
django-cors-headers==3.13.0
django-filter==22.1
django-oauth-toolkit==2.2.0
djangorestframework==3.14.0
drf-nested-routers==0.91
httplib2==0.18.0
idna==2.9
jwcrypto==1.4.2
Markdown==3.2.2
marshmallow==3.19.0
marvelous @ git+https://github.com/Naouak/marvelous.git@fix-issn
mysqlclient==2.1.1
oauthlib==3.1.0
packaging==23.1
pycparser==2.21
pymemcache==4.0.0
python-dotenv==0.13.0
pytz==2020.1
requests==2.31.0
shortuuid==1.0.1
six==1.14.0
sqlparse==0.3.1
tzdata==2022.7
urllib3==1.25.9
wrapt==1.14.1
